<div class="col-10 offset-1">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://larrybost.getforge.io/index.html">Larry Bost</a> A Web Developer/Software Engineer specializing in building web prensence and web applications for large corporations and entrepreneurs in private businesses.
  </p>
  <br />
  <p>
    Clients includes NASA, Toyota, Boeing Corporation and British Petroleum.  Entrepreneurs includes owners of small businesses, Yoga Instructors and Musicians.
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'headshot.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Larry Dion Bost</h2>
      <br />
      <p>
        Larry Dion Bost has 7+ years of Information Technology experiences providing Web Development (7yrs) ,Sharepoint Development (5yrs),  Sharepoint Administration (5yrs). .  I have a firm foundation working with large databases (SQL-Server, Sybase, and Oracle) and building\testing user interfaces (SharePoint, Access and .Net – VB & C#) on both Windows and UNIX platforms.  Larry has successfully consulted with corporations including NASA, Toyota, and British Petroleum.   
      </p>
    </div>
  </div>
  <br class="clear" />
</div>